* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
}
html,
body {
  width: 100%;
  height: 100%;
}
body{
  background-color: black;
}

h1 {
  color: white;
  text-align: center;
  margin-top: 20px;
  font-size: 30px;
}
main {
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap : 20px;
  align-items: start;
  .card{
    width: 22rem;
    padding: 2rem 1rem;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    img{
      width: 100%;
      height: 20rem;
      object-fit: cover;
      border-radius: 10px;
    }
    h1{
      white-space: nowrap;
    }
    h2{
      color: crimson;
      white-space: nowrap;
    }
    p{
      margin: 10px 0px;
    }
    button{
      padding: 10px 20px;
      border-radius: 5px;
      border: none;
      background-color: crimson;
      color: white;
      font-size: 18px;
    }
  }

}